@model web.Models.LoginModel

@{
    ViewBag.Title = "Welcome";
}

    <h2>Welcome @User.Identity.Name.ToString()</h2>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
